p {color: blue;


}
body {
 background-color: black;

}
body {
 color: blue
}
h1 {
 color: red;

}
h3{
 color: red;
}

ul {
color: blue;
}

table {
border-collapse: collapse;
}

table {
color: red;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
